body {
  width: 1250px;
  margin: 0 auto;  
}

div {
  margin-right: 50px;
}
.conteudo {
  display: flex;
}

.barra-lateral {
  background-color: #FFF457;
}

.principal h3 {
  background-color: #FFF457;
}

.cabecalho {
  text-align: center;
  color: dimgray;
}

a {
  text-decoration: none;
}
